.git
**/.git
node_modules
**/node_modules
.next
apps/empire_flutter/.git
apps/empire_flutter/.dart_tool
apps/empire_flutter/.gradle
apps/empire_flutter/.idea
apps/empire_flutter/.packages
apps/empire_flutter/pubspec.lock
apps/empire_flutter/app/.dart_tool
apps/empire_flutter/app/.firebase
apps/empire_flutter/app/.flutter-plugins*
apps/empire_flutter/app/.packages
apps/empire_flutter/app/.pub-cache
apps/empire_flutter/app/.dart_tool
apps/empire_flutter/app/coverage
apps/empire_flutter/app/.idea
apps/empire_flutter/app/.gradle
apps/empire_flutter/app/.vscode
functions/node_modules
functions/lib
functions/.tsbuildinfo
coverage
.tmp
.DS_Store
.gitignore
firebase-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-lock.yaml
**/.venv
**/__pycache__
**/.pytest_cache
